# python data structure and boolean 

#### boolean
#### boolean and logical operators
#### list
#### comparison operators
#### dictionaries
#### tuples
#### sets

## boolean variables
   boolean value are the two constant object False and True.
   
    they are used to represent truth values )other value can also considered false or true).
    
    in numeric context (for example , when used as the argument to an airthmetic oprator).they behave like 0 and 1 respectively.
    
    the built-in function bool() can be used to cast any value to boolean, if the value can be interpreted as a truth value they are written false and true respectively

In [1]:
bool()

False

In [2]:
True

True

In [3]:
type(True)

bool

In [4]:
my_str ="Manish mishra 2108"

In [5]:
print(my_str.isalnum()) # check if all char are numbers

False

In [6]:
print(my_str.istitle()) #test if string contains title word

False

In [7]:
print(my_str.islower()) #test if string contains lower case

False

In [8]:
print(my_str.startswith('M')) #test if string starts with M

True

In [9]:
print(my_str.count('1')) #test how many time it occurs in string

1

In [10]:
print(my_str.endswith("8"))

True

In [11]:
print(my_str.count("M"))

1

In [12]:
print(my_str.count("Manish"))

1

In [13]:
print(my_str.(""))

SyntaxError: invalid syntax (<ipython-input-13-15edc3c972af>, line 1)

## boolean and logical operators

In [14]:
True and False

False

In [15]:
True or False

True

In [16]:
True and True

True

In [17]:
False and False

False

In [18]:
False or False

False

In [19]:
False or True

True

In [20]:
my_str.startswith('M') and my_str.isnumeric()

False

In [21]:
my_str.endswith('8') and my_str.startswith('k')

False

In [22]:
my_str.isalnum() or my_str.startswith('M')

True

# list
          a list is a data structure in python that is a mutable, or changeable , ordered sequence of elements . each element or value that is inside of a list is called an item. just as string are defined as  character  between quotes , lists are defined by having values between square brackets[].

In [23]:
type([])

list

In [24]:
lst_example=[]

In [25]:
type(lst_example)

list

In [26]:
lst=['manissh','aniket','shashi',100,2000,3000,2400]

In [27]:
type(lst)

list

In [28]:
len(lst)

7

## append

In [29]:
#append is used to add elements in the list
lst.append("krish")

In [30]:
lst

['manissh', 'aniket', 'shashi', 100, 2000, 3000, 2400, 'krish']

In [31]:
lst.append(['sweta','romil','chandan','prabhat'])

In [32]:
lst

['manissh',
 'aniket',
 'shashi',
 100,
 2000,
 3000,
 2400,
 'krish',
 ['sweta', 'romil', 'chandan', 'prabhat']]

### indexing

In [33]:
#indexing in list ; it starts from zero

In [34]:
lst[6]

2400

In [35]:
lst[7]

'krish'

In [36]:
lst[1:4]

['aniket', 'shashi', 100]

In [37]:
lst[0:7]

['manissh', 'aniket', 'shashi', 100, 2000, 3000, 2400]

### insert 
           it insert new element in a specific order

In [38]:
lst.insert(1,'mohit')

In [39]:
lst

['manissh',
 'mohit',
 'aniket',
 'shashi',
 100,
 2000,
 3000,
 2400,
 'krish',
 ['sweta', 'romil', 'chandan', 'prabhat']]

In [40]:
lst.insert(2,'pardeep')

In [41]:
lst

['manissh',
 'mohit',
 'pardeep',
 'aniket',
 'shashi',
 100,
 2000,
 3000,
 2400,
 'krish',
 ['sweta', 'romil', 'chandan', 'prabhat']]

## extend method
     it add more than one value without creating nested list

In [42]:
lst1=[1,2,3,4,5,6]

In [43]:
lst1.extend([7,8])

In [44]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8]

In [45]:
lst

['manissh',
 'mohit',
 'pardeep',
 'aniket',
 'shashi',
 100,
 2000,
 3000,
 2400,
 'krish',
 ['sweta', 'romil', 'chandan', 'prabhat']]

In [46]:
lst.extend(['sonu','dubey jee'])

In [47]:
lst

['manissh',
 'mohit',
 'pardeep',
 'aniket',
 'shashi',
 100,
 2000,
 3000,
 2400,
 'krish',
 ['sweta', 'romil', 'chandan', 'prabhat'],
 'sonu',
 'dubey jee']

In [48]:
sum(lst1)

36

In [49]:
lst.count(2)

0

In [50]:
lst.pop()

'dubey jee'

In [51]:
lst1.pop()

8

In [52]:
lst.pop(9)

'krish'

In [53]:
lst

['manissh',
 'mohit',
 'pardeep',
 'aniket',
 'shashi',
 100,
 2000,
 3000,
 2400,
 ['sweta', 'romil', 'chandan', 'prabhat'],
 'sonu']

In [54]:
lst1.count(7)

1

In [55]:
lst2 =[1,1,2,2,2,2,4,5,5,6,6,6,]

In [56]:
len(lst)

11

In [57]:
len(lst1)

7

In [58]:
#index; return the index of first occurence.
#start and end index are not necessary

In [59]:
lst2.index(2,0,4)

2

In [60]:
lst2.index(2,4,12)

4

In [61]:
lst2.index(2,5,12)

5

In [62]:
min(lst2)

1

In [63]:
min(lst)

TypeError: '<' not supported between instances of 'int' and 'str'

In [64]:
min(lst1)

1

In [65]:
lst2*2

[1, 1, 2, 2, 2, 2, 4, 5, 5, 6, 6, 6, 1, 1, 2, 2, 2, 2, 4, 5, 5, 6, 6, 6]

In [66]:
lst*3

['manissh',
 'mohit',
 'pardeep',
 'aniket',
 'shashi',
 100,
 2000,
 3000,
 2400,
 ['sweta', 'romil', 'chandan', 'prabhat'],
 'sonu',
 'manissh',
 'mohit',
 'pardeep',
 'aniket',
 'shashi',
 100,
 2000,
 3000,
 2400,
 ['sweta', 'romil', 'chandan', 'prabhat'],
 'sonu',
 'manissh',
 'mohit',
 'pardeep',
 'aniket',
 'shashi',
 100,
 2000,
 3000,
 2400,
 ['sweta', 'romil', 'chandan', 'prabhat'],
 'sonu']

## conditional statement

In [67]:
ur_salary=1000
bank_balance=10000

In [68]:
if ur_salary<1500:
    ur_salary+=700
    bank_balance-=700

In [69]:
print(ur_salary,bank_balance)

1700 9300

In [70]:
n=54
if n%2==0:
    print("number" + " "+str(n)+" " + "is even." )
else:
     print("number" +" "+ str(n)+" " + "is odd.")

number 54 is even.

In [71]:
n=54

In [72]:
print(n)

54

In [73]:
point=121
if point<=50:
    print("Congratulations! You won a [wooden rabbit]!")
elif point <=150:
    print("Oh dear, no prize this time.")
elif point<=180:
    print("Congratulations! You won a [water thin mint]!")
elif point<=200:
    print("Congratulations! You won a [penguin]!")
else: 
    print("invalid point")

Oh dear, no prize this time.

In [74]:
altitude = 10000
speed = 250
propulsion = "Propeller"

In [75]:
altitude<1000 and speed>100

False

In [76]:
cities=['delhi','jaipur','ajmer','kolkata','pune','mumbai']

In [77]:
for city in cities:
    print(city.title())

Delhi
Jaipur
Ajmer
Kolkata
Pune
Mumbai

In [78]:
capitalized_cities = []
for city in cities:
    capitalized_cities.append(city.title())

In [79]:
cities

['delhi', 'jaipur', 'ajmer', 'kolkata', 'pune', 'mumbai']

In [80]:
capitalized_cities

['Delhi', 'Jaipur', 'Ajmer', 'Kolkata', 'Pune', 'Mumbai']

In [81]:
for index in range(len(cities)):
    cities[index]=cities[index].title()

In [82]:
cities[2]

'Ajmer'

In [83]:
for i in range (5):
    print("i love you")

i love you
i love you
i love you
i love you
i love you

In [84]:
for i in range(5, 35, 5):
    print(i)

5
10
15
20
25
30

In [85]:
for i in range(2):
    print("zindagi jhand hai")

zindagi jhand hai
zindagi jhand hai

In [86]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

In [87]:
for one_word in sentence:
    print(one_word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [88]:
print(list(range(0,-5)))

[]

In [89]:
print(list(range(4)))

[0, 1, 2, 3]

In [90]:
colors = ['Red', 'Blue', 'Green', 'Purple']

In [91]:
for color in colors:
    print(lower_colors.append(color.lower()))

NameError: name 'lower_colors' is not defined

In [92]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

In [93]:
word_counter = {'great',"gasby"}

In [94]:
for word in book_title:
if word not in word_counter:
word_counter[word] = 1
else:
word_counter[word] += 1

IndentationError: expected an indented block (<ipython-input-94-1f25d1febacf>, line 2)

In [95]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

In [96]:
while sum(hand)  < 17:
    hand.append(card_deck.pop())

In [97]:
print(hand)

[10, 8]

In [98]:
num=6

for num in range(1,2 num + 1):
product*=num
    print("the factorial of",num,)

IndentationError: expected an indented block (<ipython-input-98-501e1ca15838>, line 3)

In [99]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

# the code breaks the loop when weight exceeds or reaches the limit
print("METHOD 1")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking loop now!")
        break
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

METHOD 1
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  adding machine (120)
current weight: 201
  breaking loop now!

In [100]:

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']

In [101]:
print("\nMETHOD 2")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking from the loop now!")
        break
    elif weight + cargo_weight > 100:
        print("  skipping {} ({})".format(cargo_name, cargo_weight))
        continue
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

METHOD 2
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  skipping machine (120)
current weight: 81
  adding cheeses (5)

In [102]:
print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

Final Weight: 86
Final Items: ['bananas', 'mattresses', 'dog kennels', 'cheeses']

In [103]:
letters = ['a', 'b', 'c']
nums = [1, 2, 3]

In [104]:
for letter, num in zip(letters, nums):
    print("{}: {}".format(letter, num))

a: 1
b: 2
c: 3

In [105]:
manish_gf = ['jan','feb','mar','apr','may','jun']
gf_count =[0,2,4,1,5,6]

In [107]:
print(list(zip(manish_gf,gf_count)))

[('jan', 0), ('feb', 2), ('mar', 4), ('apr', 1), ('may', 5), ('jun', 6)]

In [108]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

In [111]:
first_names=[[name.split()[0].lower() for name in names]]
print(first_names)

[['rick', 'morty', 'summer', 'jerry', 'beth']]

In [113]:
# multipl of 3 
multiple_3=[x*3 for x in range(1,21)]
print(multiple_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [114]:
def population_density(population, land_area):
    return population/land_area

In [115]:
test1 = population_density(10, 1)
expected_result1 = 10
print("expected result: {}, actual result: {}".format(expected_result1, test1))

expected result: 10, actual result: 10.0

In [116]:
test2 = population_density(76550,7654)
expected_result2 = 10
print("expected result: {}, actual result: {}".format(expected_result2, test2))

expected result: 10, actual result: 10.001306506401882

In [117]:
egg_count = 0

def buy_eggs():
    egg_count += 12 # purchase a dozen eggs

buy_eggs()

UnboundLocalError: local variable 'egg_count' referenced before assignment